@model IEnumerable<ReportEsg.Models.Organization>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indirizzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Località)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartitaIva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordSalt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indirizzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Località)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartitaIva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyCategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordSalt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Username">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Username">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Username">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
