@model IEnumerable<ReportEsg.Models.Organization>

@{
    ViewData["Title"] = "Aziende";
}

<h1>Aziende</h1>

<p>
    <a asp-action="Create">Crea una nuova azienda</a>
    <a asp-action="Index" asp-controller="CompanyCategories">Gestisci categorie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indirizzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Località)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartitaIva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationCategory)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Indirizzo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Località)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Provincia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartitaIva)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrganizationCategory.Description)
                </td>


                <td>
                    <a asp-action="Details" asp-route-id="@item.Username">Visualizza</a> |
                    <a asp-action="Delete" asp-route-id="@item.Username">Elimina</a>
                </td>
            </tr>
        }
    </tbody>
</table>