@model IEnumerable<ReportEsg.Models.OrganizationCategory>

@{
    ViewData["Title"] = "Categorie";
}

<h1>Categorie</h1>

<p>
    <a asp-action="Create">Crea una nuova categoria di organizzazioni</a> |
    <a asp-controller="Organizations" asp-action="Index">Torna alla lista delle organizzazioni</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifica</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Visualizza</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Elimina</a>
            </td>
        </tr>
}
    </tbody>
</table>
