@model ReportEsg.Models.ApplicationSurvey

@{
    ViewData["Title"] = "Elimina questionario";
}

<h1>Elimina questionario</h1>

<h3>È sicuro di voler eliminare il seguente questionario?</h3>
<div>
    <h4>Questionario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Theme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Theme.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
    
    <form asp-action="Delete" asp-route-applicationId ="@ViewBag.ApplicationId">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Elimina" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-applicationId ="@ViewBag.ApplicationId">Torna alla lista dei questionari</a>
    </form>
</div>
