@model IEnumerable<ReportEsg.Models.ApplicationSession>

@{
    ViewData["Title"] = "Sessioni completate";
}

<h1>Sessioni di ** completate dagli utenti</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organization.CompanyName)
            </td>
            <td>
                @if (item.Application.NeedsScoreCalculations)
                {
                    <a asp-action="ReportWithScore" asp-route-applicationSessionId="@item.ID" asp-route-username="@item.Organization.Username">Visualizza report</a>
                }
                else
                {
                    <a asp-action="Report" asp-route-applicationSessionId="@item.ID" asp-route-username="@item.Organization.Username">Visualizza report</a>
                }
                
            </td>
        </tr>
}
    </tbody>
</table>
