
@{
    ViewData["Title"] = "Sessione di applicazione";
}

<div id="reportArea">
    <h1>Report Applicazione @ViewBag.ApplicationTitle per @ViewBag.CompanyName</h1>

    <h2>Anagrafica descrittiva</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Codice
                </th>
                <th>
                    Domanda
                </th>
                <th>
                    Risposta
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.OrganizationDetails)
            {

                <tr>
                    <td>
                        @item.CodiceDomanda
                    </td>
                    <td>
                        @item.Domanda
                    </td>
                    <td>
                        @item.Risposta
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>@ViewBag.ApplicationTitle</h2>

    @foreach (var item in ViewBag.ApplicationReport)
    {
        <h3>@item.Key</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Codice
                    </th>
                    <th>
                        Domanda
                    </th>
                    <th>
                        Risposta
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var answer in item.Value)
                {

                    <tr>
                        <td>
                            @answer.CodiceDomanda
                        </td>
                        <td>
                            @answer.Domanda
                        </td>
                        <td>
                            @answer.Risposta
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    }
</div>



<input id="printButton" type="button" onclick="ExportToPdf()" value="Export to Pdf">
@section scripts
{
    <script>
        function ExportToPdf()
        {
            //Get the print button and put it into a variable
            var printButton = document.getElementById("printButton");
            //Set the print button visibility to 'hidden'
            printButton.style.visibility = 'hidden';
            //Print the page content
            window.print()
            //Set the print button to 'visible' again
            printButton.style.visibility = 'visible';
        }
    </script>
}