@model ReportEsg.Models.ApplicationSession

@{
    ViewData["Title"] = "Session";
}

<h1>Session</h1>

<div>
    <h4>ApplicationSession</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organization.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChoosenThemes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChoosenThemes)
        </dd>
    </dl>
</div>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Application)
            </th>
            <th>
                Tema materiale
            </th>
            <th>
                Titolo questionario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Application.ApplicationSurveys)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Application.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Theme.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-controller="ApplicationSurveyQuestions" asp-action="Index" asp-route-surveyId="@item.Id">Completa questionario</a>
                </td>
            </tr>
        }
    </tbody>
</table>




<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
