@model ReportEsg.Models.ApplicationSession

@{
    ViewData["Title"] = "Sessione di applicazione";
}

<h1>@Model.Application.Title</h1>

<div>
    <p>@Model.Application.Description</p>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChoosenThemes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChoosenThemes)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Tema materiale
            </th>
            <th>
                Titolo questionario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Application.ApplicationSurveys)
        {
            if (Model.ChoosenThemes.Contains(item.Theme.Description))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Theme.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @if ((Model.CompletedSurveys == null) || (!Model.CompletedSurveys.Contains(item.Title)))
                        {
                            <a asp-controller="ApplicationSessions" asp-action="TakeSurvey" asp-route-id="@Model.ApplicationId" asp-route-surveyId="@item.Id">Compila questionario</a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

