@model IEnumerable<ReportEsg.Models.OrganizationDetailsSurveyQuestion>

@{
    ViewData["Title"] = "Domande di anagrafica descrittiva";
}

<h1>Domande di anagrafica descrittiva</h1>

<p>
    <a asp-action="CreateTextQuestion" asp-route-surveyId="@ViewBag.SurveyId">Crea una nuova domanda</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationDetailsSurvey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRequired)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationDetailsSurvey.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRequired)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" asp-route-surveyId="@ViewBag.SurveyId">Modifica</a> |
                <a asp-action="Details" asp-route-id="@item.Id" asp-route-surveyId="@ViewBag.SurveyId">Visualizza</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" asp-route-surveyId="@ViewBag.SurveyId">Elimina</a>
            </td>
        </tr>
}
    </tbody>
</table>
